/* Base styles for mobile screens */
body {
    background-color: peru; /* Background color for body */
    color: bisque;          /* Text color for body */
    font-family: Arial, sans-serif; /* Font family for body */
}

/* Main content area styles */
main {
    background-color: saddlebrown; 
    color: gainsboro;
}

/* CSS for all images in the main content */
main img {
    width: 40%;      /* Default width for larger screens */
    height: auto;    /* Maintain the aspect ratio */
    display: block;  /* Ensures there’s no extra space below the image */
}

/* Header styles for the image will leave it at the top for our logo*/
header {
    background-image: url('../images/LogoLarge.png');
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}

/* Media query for larger screens */
@media (min-width: 750px) {
    body {
        background-color: maroon; /* Background color for small screens */
        color: moccasin;          /* Text color for small screens */
    }

    header {
        background-image: url('../images/LogoSmall.png');
        min-height: 50px; /* Height for small screens */
        background-position: right top;
        background-repeat: no-repeat; /* Ensure it doesn't repeat */
    }

    /* Header text styles for small screens */
    h1, h2, h3, h4, h5, h6 {
        font-family: Georgia, serif; /* Font for small screens */
    }
}